{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "camelcase":"off",
    "import/namespace": "off",
    "indent": ["error", 2, {"MemberExpression": 1}],
    "node/no-missing-import": "off",
    "perfectionist/sort-objects": "warn",
    "unicorn/no-array-for-each": "off",
    "unicorn/no-useless-undefined": "warn",
    "unicorn/prefer-node-protocol": "warn",
    "unicorn/prefer-number-properties": "warn"
  }
}
